{% extends 'Loanapp/base.html' %}
{% load static %}
{% block header %}
<!-- <script src="{% static 'Loanapp/global_assets/js/main/jquery.min.js' %}"></script>
<script src="{% static 'Loanapp/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'Loanapp/global_assets/js/plugins/loaders/blockui.min.js' %}"></script> -->

    <script src="{% static 'Loanapp/global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/forms/selects/select2.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/tables/datatables/extensions/jszip/jszip.min.js' %}"></script>
    <script
        src="{% static 'Loanapp/global_assets/js/plugins/tables/datatables/extensions/pdfmake/pdfmake.min.js' %}"></script>
    <script
        src="{% static 'Loanapp/global_assets/js/plugins/tables/datatables/extensions/pdfmake/vfs_fonts.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/tables/datatables/extensions/buttons.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/demo_pages/datatables_extension_buttons_html5.js' %}"></script>
    
    
    <script src="{% static 'Loanapp/global_assets/js/plugins/pickers/daterangepicker.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/pickers/anytime.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/notifications/jgrowl.min.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/demo_pages/picker_date.js' %}"></script>
    <script src="{% static 'Loanapp/global_assets/js/plugins/ui/moment/moment.min.js' %}"></script>

{% endblock header %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card my-4">
                <div class="card-header header-elements-inline" style="background-color:#4A054A;color: #fff;">
                    <h5 class="card-title"><i class="icon-users"></i> &nbsp;All Borrowers</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped datatable-button-html5-basic">
                            <thead>
                                <tr>
                                    <th><b>#</b></th>
                                    <th><b>Id Number</b></th>
                                    <th><b>First Name</b></th>
                                    <th><b>Last Name</b></th>
                                    <th><b>Branch</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for borrower in all_borrowers %}

                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{borrower.national_id}}</td>
                                    <td>{{borrower.first_name}}</td>
                                    <td>{{borrower.last_name}}</td>
                                    <td>{{borrower.branch}}</td>
                                    <td>
                                        <a href="{% url 'Loanapp:detail_borrower' borrower.id %}">
                                            <i class="icon-eye4" style="color:black;"></i>
                                        </a>
                                        <!-- <a href="" style="margin-left: 10px;">
                                            <i class="icon-bin" style="color:red; font-size: 16px;"></i>
                                        </a> -->
                                    </td>
                                </tr>

                                {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <div class="alert alert-warning">
                                            <h6>No Borrowers registered.</h6>
                                        </div>
                                    </td>
                                </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% block scripts %}
{% endblock scripts %}

{% endblock body %}